/* general layout/fonts */
html, body {
    height: 100%;
    margin: 0px;

    position: relative;        
    max-width: 100%;
    overflow-x: hidden;
}

header{
    height: 100%;
}

aside{
    width: 120px;
    padding: 30px 0 0 40px;
}

p{
    color: white;
}
li{
    color: white;
}

h1{
    color: #3B7867;
    font-family: Pacifico;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
/*    margin-top: 50px;*/
}

@font-face{
    font-family:Pacifico;
    src:url(/fonts/Pacifico.ttf)
}


/* items*/

#GitHubIcon{
    margin-right: 12px;
}


.logoSize{
    width: calc(20px + 4vw);
    flex-basis: 20%;
    margin: 8px;
}

.project-title-general{
    color: white;
    font-size: 7vh;
    font-family: Pacifico;
    margin-top: 8vh;
}

.project-title-1{
    color: white;
    font-size: calc(15px + 2vw);
}

.projectarea1{
    background-color:grey;
    overflow-x:hidden;
    position:relative;
    min-height: 45%;
    max-height: 70%;
    width: 86%;
    text-align: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 2px solid #505654;
    padding: 5px;
    border-radius: 20px;

    padding: 20px 30px 20px 30px;
}

.projectarea2{
    background-color:grey;
    overflow-x:hidden;
    position:relative;
    min-height: 35%;
    max-height: 70%;
    width: 86%;
    text-align: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 2px solid #505654;
    padding: 5px;
    border-radius: 20px;
}

.projectarea3{
    background-color:grey;
     overflow-x:hidden;
     position:relative;
     height:30wv;
     width: 86%;
     text-align: center;
     margin: 0 auto;
     margin-top: 8vh;
     margin-bottom: 8vh; 
     
     border: 2px solid #505654;
     padding: 5px;
     border-radius: 20px;
 }

.bioHeader{
    font-size: 6vh;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bioBody{
    text-align: center;
}

.bioText{
    font-size: 8px + 3vh;
    float: left;
    width: 50%;
    color: white;
    margin-right: 20px;
}

.bioImage{
/* float: right; */
/* width: 50%; */
}

#myHeadshot{
    margin-top: 20px;
}

/* this isnt working */
@media (max-width: 675px){
    .bioText{
        margin-left: 17vw;
        width: 105%;
        margin-left: 0;
        margin-right: 0;
    }
    
    body{
        color: blue;
    }
}

.previousLangExperience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.previousTechnologyExperience{
}

.text-contents{
    text-align: center;
    font-size: calc(25px + .6vw);
    width: 40%;
    float: left;
    margin-left:7vw;
}

.programmingProjects{
    text-align: center;
    font-size: calc(25px + .6vw);
    width: 40%;
    float: right;
    margin-left:7vw;
    padding-bottom: 10px;
}

.projectDescription{
    font-size: 15px;
}

@media (max-width: 550px) {
    .text-contents{
        text-align: center;
        font-size: calc(25px + .6vw);
        width: 100%;
    }
    .programmingProjects{
        text-align: center;
        font-size: calc(25px + .6vw);
        width: 80%;
        padding-top: 400px;
        float: none;
    }
    .invisHr{
        border-bottom: 1px solid #000;
    }
}


.projectItem, .logoSize {
    transition: transform .2s;   
}

.projectItem:hover, .logoSize:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 

}

/* for mobile, remove % and make projects float down */
.container{
    text-align: center;
    position: relative;
    top: -5%;
    height: calc(85px + 9vh);
    color: lightgrey;
    margin-top: 50px;
}   

.display-1{
    text-align: center;  
}

.picture-contents{
    width: 20%;
    min-width: 80px;
}

.bodycontent{
    background-color: brown;
    overflow-x:hidden;
    position:relative;
    min-height: 110%;
    width: 100%;
}

.projectsection{
    background-color: #505654;
    overflow-x:hidden;
    position:relative;
    height: 80%;
    width: 93%;
    text-align: center;
    margin: 0 auto;
}



.jumbotron{
    display:flex;
    align-content:center;
    text-align: center;
    align-items:center;
}

.jumbotronstate1{
    height: 78%;
    margin:0;
    background:#26C9FF;
}

.jumbotronstate2{
    height: 78%;
    margin:0;
    background:#223947;
}

.jumbotron2{
    height: 25%;
    padding: 0px;
    margin: 0px; 
}

#mission_statement{
    font-size: 20px;
}

.menu{
    background: #3B7867;
    padding: 5px;
}

.menu a{
    color: lightgrey;
    text-decoration: no;
    font-family: arial;
}

.menu a:hover{
    color: grey;
}

.navbar-brand{
    height: 100%;
}

.navbar-state1{
    background-color: #62b0bc;
}

.crown{
    height: 85%;
    width: 4.0%;
    min-height: 40px;
    min-width: 40px;
}

.thanks{
    text-align: center;
}

.cookiecontainer{
    height:100%;
    width: 100%;
    transition: .5s;
    text-align: center;
}

.cookiepic{
    max-width: 22%;
    min-width: 100px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 55%;
    transition: all 1s;
}

.cloudpic1{
    position:absolute;
    top: 5vh;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloudpic2{
    position:absolute;
    top: 9vh;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud2;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloudpic3{
    position:absolute;
    top: 9vh;
    left:-30px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud3;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planepic1{
    position:absolute;
    top: 13%;
    left: 40%;
    max-width: 12%;
    min-width: 20vh;
    overflow: hidden;
    
    animation-name: floatacrossplane;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ground{
    background-color: brown;
    width: 100%;
}

.road{
  height: 100%; 
}

.tri{
    width: 800px;
    max-width:100%    
}

.cactus1container{
    position: absolute;
}

.cactus_1{
position: relative;
/* top:30vh;
left:-34%;    
width: 23%; */
top:30vh;
height: 29vh;
left: 3%;
}

.cactus2container{
    position: absolute;
}

.cactus_2{
position: relative;
top:36vh;
left:35%;    
width: 8%;
}

@media (min-width: 680px) {
    .cactus_2{
        top:35vh;
        left: -10%;
    }
}
/*Keyframes*/

@keyframes floatacrosscloud{
    from{left:-25%}
    to{left:102.5%}
}

@keyframes floatacrosscloud2{
    from{left:-21%}
    to{left:106.5%}
}

@keyframes floatacrosscloud3{
    from{left:-29%}
    to{left:98.5%}
}


@keyframes floatacrossplane{
    from{left:-35%}
    to{left:99.5%}
}
