
html, body {
    height: 100%;
    margin: 0px;

    position: relative;        
    max-width: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family:Pacifico;
    src:url(/fonts/Pacifico.ttf)
}

p{
    color: white;
}

li{
    color: white;
}

#GitHubIcon{
    margin-right: 12px;
}





.logoSize{
    width: calc(20px + 4vw);
    flex-basis: 20%;
    margin: 8px;
}



h1{
    color: #3B7867;
    font-family: Pacifico;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
/*    margin-top: 50px;*/
}

.project-title-general{
    color: white;
    font-size: 7vh;
    font-family: Pacifico;
    margin-top: 8vh;
}

.project-title-1{
    color: white;
    font-size: calc(15px + 2vw);
}

.projectarea1{
    background-color:grey;
    overflow-x:hidden;
    position:relative;
    min-height: 35%;
    max-height: 70%;
    width: 86%;
    text-align: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 2px solid #505654;
    padding: 5px;
    border-radius: 20px;
    /* display: flex; */
}

.previousLangExperience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.text-contents{
    text-align: center;
    font-size: calc(25px + .6vw);
    width: 40%;
    float: left;
    margin-left:7vw;
}


/* .programmingProjects{
    text-align: center;
    font-size: calc(25px + .6vw);
    width: 40%;
    float: right;
    margin-left:7vh;
} */

.programmingProjects{
    text-align: center;
    font-size: calc(25px + .6vw);
    width: 40%;
    float: right;
    margin-left:7vw;
}

@media (max-width: 550px) {

    .text-contents{
        text-align: center;
        font-size: calc(25px + .6vw);
        width: 80%;
        /* margin-left:3vh; */


    }

    .programmingProjects{
        text-align: center;
        font-size: calc(25px + .6vw);
        width: 80%;
        padding-top: 400px;
        float: none;


    }

    .invisHr{
        border-bottom: 1px solid #000;
    }
}



/* for mobile, remove % and make projects float down */

.container{
        text-align: center;
        position: relative;
        top: -5%;
        height: calc(85px + 9vh);
/*        width: 100%;*/
        color: lightgrey;
        margin-top: 50px;
}   

.display-1{
    text-align: center;  
}

.picture-contents{
    width: 24%;
    min-width: 100px;
}


header{
    height: 100%;
}




.bodycontent{
    background-color: brown;
    overflow-x:hidden;
    position:relative;
    min-height: 110%;
    width: 100%;
}

.projectsection{
    background-color: #505654;
    overflow-x:hidden;
    position:relative;
    height: 80%;
    width: 93%;
    text-align: center;
    margin: 0 auto;
    
    
    
}




.projectarea2{
   background-color:grey;
    overflow-x:hidden;
    position:relative;
    height:30wv;
    width: 86%;
    text-align: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 8vh; 
    
    border: 2px solid #505654;
    padding: 5px;
    border-radius: 20px;
}


.jumbotron{
/*    margin-bottom: 0px;*/
    
    
/*    centering text in jumbotron*/
    display:flex;
    align-content:center;
    text-align: center;
    align-items:center;

}

.jumbotronstate1{
/*
   min-height: 675px; 
    max-height: 675px;
*/
    height: 78%;
    margin:0;
   background:#26C9FF;
}

.jumbotronstate2{
/*
   min-height: 675px; 
    max-height: 675px;
*/
    height: 78%;
    margin:0;
   background:#223947;
}





.jumbotron2{
/*
    min-height: 250px;
    max-height: 10%;
*/
    height: 25%;
    padding: 0px;
    margin: 0px; 
    
/*
    height: 100%;
    width: 100%;
*/
    
    
    
}


/*
.cloudpic{
    transform: translate(400px, -75px) 
    transform: scaleX(1); 
}
*/




#mission_statement{
    font-size: 20px;
}



.menu{
    background: #3B7867;
    padding: 5px;
}

.menu a{
    color: lightgrey;
    text-decoration: no;
    font-family: arial;
}

.menu a:hover{
    color: grey;
}

aside{
    width: 120px;
    padding: 30px 0 0 40px;
}

/*
.navbar-custom{
    background-color: #62b0bc;
   
    This caused positioning problems
    height: 9%;
    Using navbar-light as the background color attribute changer now

}
*/

.navbar-brand{
    height: 100%;
}

.navbar-state1{
    background-color: #62b0bc;
}



.crown{
    height: 85%;
    width: 4.0%;
    min-height: 40px;
    min-width: 40px;
}

.thanks{
    text-align: center;
}

/*whole container*/
.cookiecontainer{
    height:100%;
    width: 100%;
    transition: .5s;
    text-align: center;
/*    position:relative;*/
}

/*image*/
.cookiepic{

/*
    height:100%;
    width: 100%;
*/
    max-width: 22%;
    min-width: 100px;
   
}



.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

/* neon red to troubleshoot
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/


#wrapper {
    position: absolute;
    width: 100%;
    height: 55%;
    transition: all 1s;
}


.cloudpic1{
    position:absolute;
    top: 5vh;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloudpic2{
    position:absolute;
    top: 9vh;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud2;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.cloudpic3{
    position:absolute;
    top: 9vh;
    left:-30px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud3;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



/*heights 10% 25% 20% */










.planepic1{
    position:absolute;
    top: 13%;
    left: 40%;
    max-width: 12%;
    min-width: 20vh;
    overflow: hidden;
    
    animation-name: floatacrossplane;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}





.ground{
    background-color: brown;
    width: 100%;
/*    position: relative;*/
}

.road{
  height: 100%;
/*
  height: 0;
  width: 0;
    
    
  text-align: center;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent; 
  border-bottom: 250px solid black;   
  margin: 0 auto;
    
*/
    
    
}




.tri{
    width: 800px;
    max-width:100%
        
}


.cactus1container{
    position: absolute;
}

.cactus_1{
 position: relative;
top:30vh;
left:-34%;    
    
 width: 23%;
 
}



.cactus2container{
    position: absolute;
}

.cactus_2{
 position: relative;
top:36vh;
left:35%;    
    
 width: 8%;
 
}


@media (min-width: 680px) {
    .cactus_2{
        top:35vh;
        left: -10%;
    }
}




/*Keyframes*/

@keyframes floatacrosscloud{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    from{left:-25%}
    to{left:102.5%}
}

@keyframes floatacrosscloud2{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    from{left:-21%}
    to{left:106.5%}
}

@keyframes floatacrosscloud3{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    from{left:-29%}
    to{left:98.5%}
}


@keyframes floatacrossplane{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    
    from{left:-35%}
    to{left:99.5%}
}





