h1{
    color: black;
    font-family: arial;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
}





/*
body{
    background-color: #c9c9ad !important;
}
*/


.bodytext{
    background-color: #c9c9ad;
    overflow-x:hidden;
    position:relative;
}

.jumbotron{
/*    margin-bottom: 0px;*/
    min-height: 900px;
    
/*    centering text in jumbotron*/
    display:flex;
    align-content:center;
    text-align: center;
    align-items:center;
 
}

.cloudpic{
/*    transform: translate(400px, -75px)*/
    transform: scaleX(1)
}




#mission_statement{
    font-size: 20px;
}

.container{
        text-align: center
}   

.menu{
    background: #3B7867;
    padding: 5px;
}

.menu a{
    color: lightgrey;
    text-decoration: no;
    font-family: arial;
}

.menu a:hover{
    color: grey;
}

aside{
    float: right;
    width: 120px;
    padding: 30px 0 0 40px;
}

.navbar-custom{
    background-color: #62b0bc;
}




/*whole container*/
.cookiecontainer{
    height:100%;
    width: 100%;
    transition: .5s;
    text-align: center;
    position:relative;
}

/*image*/
.bottompic{
/*
    height:100%;
    width: 100%;
*/
    
      
    
}


/*text*/
.toppic{
    color: white;
    
}



.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

/* neon red to troubleshoot
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/
.cloudpic1{
    position:absolute;
    top: -250px;
    left:-650px;
    animation-name: floatacrosscloud;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloudpic2{
    position:absolute;
    top: -200px;
    left:-700px;
    animation-name: floatacrosscloud;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planepic1{
    position:absolute;
    top: 300px;
    left:-700px;
    max-width: 20%;

    
    animation-name: floatacrosscloud;
    animation-duration: 18s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*Keyframes*/

@keyframes floatacrosscloud{
    from{transform: translateX(0)}
    to{transform: translateX(2200px)}
}
