html, body {
    height: 100%;
    margin: 0px;

    position: relative;        
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    color: White;
    font-family: arial;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
}

.container{
        text-align: center;
/*        position: absolute;*/
        height: 35%;
        width: 100%;
}   

display-1{
    text-align: center;
    height: 80%;
    font-size: 75px !important;
    
}




header{
    height: 100%;
}




.bodytext{
    background-color: #c9c9ad;
    overflow-x:hidden;
    position:relative;
}

.jumbotron{
/*    margin-bottom: 0px;*/
    
    
/*    centering text in jumbotron*/
    display:flex;
    align-content:center;
    text-align: center;
    align-items:center;

}

.jumbotron1{
/*
   min-height: 675px; 
    max-height: 675px;
*/
    height: 70%;
    margin:0;
   background:#26C9FF;
}

.jumbotron2{
/*
    min-height: 250px;
    max-height: 10%;
*/
    height: 25%;
    padding: 0px;
    margin: 0px; 
    
/*
    height: 100%;
    width: 100%;
*/
    
    
    
}


/*
.cloudpic{
    transform: translate(400px, -75px) 
    transform: scaleX(1); 
}
*/




#mission_statement{
    font-size: 20px;
}



.menu{
    background: #3B7867;
    padding: 5px;
}

.menu a{
    color: lightgrey;
    text-decoration: no;
    font-family: arial;
}

.menu a:hover{
    color: grey;
}

aside{
    float: right;
    width: 120px;
    padding: 30px 0 0 40px;
}

/*
.navbar-custom{
    background-color: #62b0bc;
   
    This caused positioning problems
    height: 9%;
    Using navbar-light as the background color attribute changer now

}
*/

.navbar-brand{
    height: 100%;
}

.navbar-light{
    background-color: #62b0bc;
}


.crown{
    height: 85%;
    width: 4.0%;
    min-height: 40px;
    min-width: 40px;
}


/*whole container*/
.cookiecontainer{
    height:100%;
    width: 100%;
    transition: .5s;
    text-align: center;
    position:relative;
}

/*image*/
.bottompic{
/*
    height:100%;
    width: 100%;
*/
   
}


/*text*/
.toppic{
    color: white;
    
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

/* neon red to troubleshoot
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/


#wrapper {
    position: absolute;
    width: 100%;
    height: 55%;
    transition: all 1s;
}


.cloudpic1{
    position:absolute;
    top: 10%;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloudpic2{
    position:absolute;
    top: 0px;
    left:0px;
    max-width: 20%;
    overflow: hidden;
    animation-name: floatacrosscloud;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}




.planepic1{
    position:absolute;
    top: 0px;
    left:0px;
    max-width: 15%;
    min-width: 120px;
    overflow: hidden;
    
    animation-name: floatacrossplane;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}





.ground{
    background-color: brown;
    width: 100%;
/*    position: relative;*/
}

.road{
  height: 100%;
/*
  height: 0;
  width: 0;
    
    
  text-align: center;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent; 
  border-bottom: 250px solid black;   
  margin: 0 auto;
    
*/
    
    
}


.road-line-1{
 
/*
    height: 0; 
    text-align: center; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent; 
    border-bottom: 10px solid white;   
    position: absolute;  
    left: 49.85%;
    top: .25%;  
*/
    
/*
    position: absolute;
    top: 0px;
    left: 700px;
    width: 10px;
*/
}

.tri{
    width: 800px;
    max-width:100%
}



.road-line-2{

}


/*Keyframes*/

@keyframes floatacrosscloud{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    from{left:-25%}
    to{left:99.5%}
}

@keyframes floatacrossplane{
/*
    from{transform: translateX(0)}
    to{transform: translateX(2150px)}
*/
    
    from{left:-35%}
    to{left:99.5%}
}





