*{
    font-family: 'Orbitron', sans-serif;
}

body{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
#title{
    text-align: center;
    background-color: aqua;
}
#projectArea{
    background-color: lightgreen;
    height: 800px;
    width: 100%;
    min-width: 92px;
}

#pokedexFrame{
    position: relative;
    text-align: center;
    margin: auto;

}
#pokedexScreen{
    /* position: absolute; */
    height:257px;
    width: 252px;
    background-color: lightgrey;
    top: -339px;
    left: 21px;
    /* left:332px; */
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* margin: auto; */
    
}
::-webkit-scrollbar {display:none;}

.pokemonOnList{
    padding: 10px 15px 0px 5px;
    margin-right: 20px;    
    border: 1px black solid;
    text-transform: uppercase;
    font-size: 11.5px;
    height:50px;
    border-radius: 1.5px;
}

#indivPokeEntry{
    height: 257px;
    width: 252px;
    background-color: lightgrey;
    position: absolute;
    top: 180px;
    left: 400px;
    font-size: 13.4px;
    padding-left: 10px;
    padding-top: 10px;
}

#entryLeftCol{
    float:left;
}

#entryRightCol{
    /* float: right; */
    /* text-align: left; */
    margin-left: 125px;
    margin-top: 16px;
}

/* #entryId, #entryHeader{
    display: inline-block;;
} */

#entryImage{
    border: 2px black solid;
    display: block;
}

#entryHeight, #entryWeight{
    margin: 4px 0px;
}

#abilityList{
    list-style: none;
}

.abilityItem{
    margin-left: 15px;
}

#entryType{
    margin-left:30px;
}

#typeLabel{
    margin: 0px;
    margin-bottom: 5px;
}

.type{
    height: 20px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

#type1{
    background-color: green;
}

#type2{
    background-color: purple;
}

#entryStats{
    margin-top: 12px;
}

#entryStats > *{
    margin: 3px 0px;
}

#entryStats p:nth-child(n+2){
    margin-left: 15px;
}