*{
    font-family: 'Orbitron', sans-serif;
}

body{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
#title{
    text-align: center;
    background-color: aqua;
}
#projectArea{
    background-color: lightgreen;
    height: 800px;
    width: 100%;
    min-width: 92px;
}

#pokedexFrame{
    position: relative;
    text-align: center;
    margin: auto;

}
#pokedexScreen{
    /* position: absolute; */
    height:257px;
    width: 252px;
    background-color: lightgrey;
    top: -339px;
    left: 21px;
    /* left:332px; */
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* margin: auto; */
    
}
::-webkit-scrollbar {display:none;}

.pokemonOnList{
    padding: 10px 15px 0px 5px;
    margin-right: 20px;    
    border: 1px black solid;
    text-transform: capitalize;
    font-size: 11.5px;
    height:50px;
    border-radius: 1.5px;
}

.pokemonOnList:hover{
    background-color: white;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* height: 52px; */

}

#indivPokeEntry{
    height: 254px;
    width: 244px;
    background-color: lightgrey;
    position: absolute;
    /* to the side for debugging 
    top: 180px;
    left: 400px; */
    top: 196px;
    left: 20px;
    font-size: 13.4px;
    padding-left: 10px;
    padding-top: 4px;
    display: none;
    /* border: 1px solid black; */
}

#entryLeftCol{
    float:left;
}

#entryRightCol{
    /* float: right; */
    /* text-align: left; */
    margin-left: 130px;
    margin-top: 32px;
}

#entryName{
    text-transform: capitalize;
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; */

}

#entryImageContainer{
    width: 100px;
    height: 100px;
    border: 2px black solid;
    min-width: 0px;
    position: relative;
}

#entryImage{
    max-width: 99.5px;
    max-height: 99.5px;
    /* display: block; */
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#entryHeight, #entryWeight{
    margin: 4px 0px;
}

#abilityList{
    list-style: none;
}

.abilityItem{
    margin-left: 15px;
    text-transform: capitalize;
}

#entryType{
    margin-left:25px;
}

#typeLabel{
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 6px;
}

.type{
    height: 16px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}

#type1{
    /* background-color: green; */
}

#type2{
    /* background-color: purple; */
}

#entryStats{
    margin-top: 12px;
}

#entryStats > *{
    margin: 3px 0px;
}

#entryStats p:nth-child(n+2){
    margin-left: 15px;
}