html, body{
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    font-size: 4rem;
    display: inherit;
}

intro{
}


p{
    color: white;
}

.purpleback{
    height: 80%;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 800px;
}

.pbtransition{
    height: 100%;
    width: 100%;
    background: linear-gradient(purple,blue);
}